<h1 class="app_title logged-title">Търсачи на знания</h1>	    
<div class="jumbotron" style="background-color: rgba(220, 220, 220, 0.8); color:black; width:66%; height:80%; margin:0px;">
	<div class="row justify-content-md-center">
		<div class="col-12">
			<center><h2 th:text="${sectionTitle}">Добави/промени урок</h2></center>
			<br/>
		</div>
		<form class="col-12 align-self-center" th:action="@{/questions/index}" method="post">
			<div class="form-group">
	        	<input type="hidden" class="form-control" name="id" id="id" autofocus="autofocus" placeholder="ID" th:value="${question?.id}" readonly>
	        </div>
			<div class="form-group row">
	        	<input type="text" class="form-control col-12" name="title" id="title" autofocus="autofocus" placeholder="Въпрос" th:value="${question?.description}">	        	
	        	<input type="hidden" class="form-control" name="author" id="author" placeholder="Автор" th:value="${question?.author?.displayName}">
	        </div>
	        <div class="form-group row">
	        	<select class="form-control col-md-4 col-sm-12" name="topic" id="topic" style="width:100%; height: 50px;">
					<option th:each="topic : ${topics}" th:if="${topic.id == question?.topic?.id}" th:value="${question?.topic?.id}" th:text="${topic.name}">...</option>
					<option th:each="topic : ${topics}" th:if="${topic.id != question?.topic?.id}" th:value="${topic.id}" th:text="${topic.name}"></option>
				</select>
				<select class="form-control col-md-3 col-sm-12 offset-md-1" name="difficulty" id="difficulty" style="width:100%; height: 50px;">
					<option th:each="difficulty : ${difficulties}" th:if="${difficulty == question?.difficulty}" th:value="${question?.difficulty}" th:text="${difficulty}">...</option>
					<option th:each="difficulty : ${difficulties}" th:if="${difficulty != question?.difficulty}" th:value="${difficulty}" th:text="${difficulty}"></option>
				</select>
				
				<select class="form-control col-md-3 col-sm-12 offset-md-1" name="type" id="type" style="width:100%; height: 50px;">
					<option th:each="type : ${types}" th:if="${type == question?.type}" th:value="${question?.type}" th:text="${type}">...</option>
					<option th:each="type : ${types}" th:if="${type != question?.type}" th:value="${type}" th:text="${type}"></option>
				</select>
	        </div>
	        <div class="form-group row justify-content-md-center">
	        	<input th:each="option : ${options}" th:if="${option?.correct} == true" type="text" class="form-control col-5" name="option" id="option" autofocus="autofocus" placeholder="Отговор" th:value="${option?.description}" style="margin: 0 20px; color:green;">
	        	<input th:each="option : ${options}" th:if="${option?.correct} == false" type="text" class="form-control col-5" name="option" id="option" autofocus="autofocus" placeholder="Отговор" th:value="${option?.description}" style="margin: 0 20px;color:red;">
	        </div>
			<!-- 
			<div class="form-group row">
				 <textarea class="col-12" name="description" rows="10" cols="30" th:text="${lesson?.description}" >...</textarea>
			</div>
			 -->
		    <br/>
		    <div class="row align-items-end">
			  <div class="col-auto mr-auto">
			  	<a href="/questions/index" th:href="@{/questions/index}">
			  		<input type="button" value="Отказ" class="btn close_btn" style="width:150px;">
			  	</a>
			  </div>
			  <div class="col-auto">
			  	<a href="/questions/index" th:href="@{/questions/index}">
			  		<input type="submit" value="Запази" class="btn save_btn" style="width:150px;">
			  	</a>
			  </div>			
			</div>
		</form>  
	</div>
</div>