<div class="jumbotron"  style="background-color: rgba(220, 220, 220, 0.8); color:black; width:66%; height:80%; margin:0px auto; ">
	
		<div class="row">
			<h2 class="col-md-6 col-sm-8 offset-md-3" style="text-align:center;">Моите въпроси</h2>
			<div class="col-3 align-self-end text-right">
		 		<a href="/questions/add" th:href="@{/questions/add}">
		 			<button type="button" class="btn save_btn" style="width:150px; color:black">Добави въпрос</button>
		 		</a>
		 	</div>
		</div>
			
	 	<br/>
	 	<h4 th:if="${#lists.isEmpty(questions)}"><center>Няма въпроси</center></h4>	 	
	 	<table th:if="${not #lists.isEmpty(questions)}" class="table" cellspacing="0" cellpadding="0" border="0" width="325" style="border-top: none;">
		  <tr>
		    <td style="padding: 0; padding-bottom:20px;">
		       <table class="table" cellspacing="0" cellpadding="1" width="100%" style="margin-bottom: 0rem !important; background-color: transparent; border:0; " >
		        <!-- 
		         <tr style="color:white;background-color:grey">
		            <th>Header 1</th>
		            <th>Header 2</th>
		         </tr>
		          -->
		         <thead class="thead-light" style="text-align:center;">
				    <tr>
				      <th scope="col" width="30%">Въпрос</th>
				      <th scope="col" width="5%">Сложност</th>
				      <th scope="col" width="15%">Тип въпрос</th>
					  <th scope="col" width="20%">Тема</th>
					  <th scope="col" width="10%">Предмет</th>
				      <th scope="col" width="10%">Автор</th>
				      <th scope="col" width="10%">Действия</th>
				    </tr>
				  </thead>
		       </table>
		    </td>
		  </tr>
		  <tr>
		    <td style="padding: 0;">
		       <div style="width:100%; height:500px; overflow:auto;">
		         <table class="table" cellspacing="0" cellpadding="1" width="100%"  style="border:0; margin-bottom: 0;">
		           <tbody>
				    <tr th:each="question: ${questions}" style="background-color:rgba(220, 220, 220, 0.8);">
					     <td scope="row" width="30%" >
							<a class="index-a" th:href="@{'/questions/view/' + ${question.id}}" th:text="${question.description}"></a>    
						</td>
					    <td  width="5%" th:text="${question.difficulty.getValue()}" style="text-align:center;"/>
					    <td  width="15%" th:text="${question.type.getValue()}" style="text-align:center;"/>
					    <td  width="20%" th:text="${question.topic.name}" />
					    <td  width="10%" th:text="${question.topic.subject.name}" />
					    <td  width="10%" th:text="${question.author.displayName}" />
					    <td  align="center">
					    	<a th:href="@{'/questions/edit/' + ${question.id}}">
					    		<i class="fas fa-pencil-alt"></i>
					    	</a>
					    	<a th:href="@{'/questions/delete/' + ${question.id}}">
					    		<i class="fas fa-times"></i>
					    	</a>
					    	<a th:href="@{'/questions/view/' + ${question.id}}">
					    		<i class="far fa-eye"></i>
					    	</a>
					    </td>
					</tr>
				  </tbody>
		         </table>  
		       </div>
		    </td>
		  </tr>
		</table>
	
</div>
