<div class="jumbotron" style="background-color: rgba(220, 220, 220, 0.8); color:black; margin:0px; width:600px !important; height:60%;">
	<div class="row justify-content-md-center">
		<div class="col-12">
			<center><h2>Промяна на парола</h2></center>
			<br/>
		</div>
		<form class="col-8 align-self-center" th:action="@{/change-password}" method="post" style="position:absolute; top:120px; bottom:10px;">
			<div class="form-group">
	        	<input type="hidden" class="form-control" name="id" id="id" autofocus="autofocus" placeholder="ID" th:value="${person.id}" readonly>
	        </div>
			<div class="form-group">
				<input type="password" class="form-control" name="password-old" id="password-old" placeholder="Сегашна парола">
			</div>
			<div class="form-group">
				<input type="password" class="form-control" name="password" id="password" placeholder="Нова парола" >
			</div>
			<div class="form-group">
				<input type="password" class="form-control" name="password-repeat" id="password-repeat" placeholder="Повтори нова парола">
			</div>
			
		    <br/>
		    <div class="row" style="position:absolute; bottom: 0; width:100%;">
			  <div class="col-auto mr-auto">
			  	<a th:href="@{/home}">
			  	<input type="button" value="Отказ" class="btn close_btn" style="width:150px;">
			  	</a>
			  </div>
			  <div class="col-auto">
			  	<input type="button" name="save" value="Запази" class="btn save_btn" style="width:150px;">
			  </div>			
			</div>
		</form>  
	</div>
</div>
<script th:inline="javascript">
/*<![CDATA[*/
$(document).ready(function() {
	$('form').on("change input", function() {
		var canSave = true;
		canSave &= ($("input[name='displayName']").val() != '');
		canSave &= ($("input[name='email']").val() != '');
		
		$("input[name='save']").prop('disabled', !canSave);
	});
	$('form').trigger('change');
	
	console.log("In JS");
	
	$("input[name='save]']").click(function(event){
		  event.preventDefault();
		  console.log("First prevent.");
		});
	$(".save_btn").click(function(e) {
	  	e.preventDefault();
	  	console.log("in save click");
	  	var dbPassword =  /*[[${person.user.password}]]*/ '-';
	  	var oldPassword = $("#password-old").val();
	  	var newPassword = $("#password").val();
	  	var newPasswordRepeat = $("#password-repeat").val();
	  	
	  	console.log("DB pass:" + dbPassword);
	  	console.log("Old pass:" + oldPassword);
	  	console.log("New pass:" + newPassword);
	  	console.log("New pass repeat:" + newPasswordRepeat);
	  	
	  	if (dbPassword == oldPassword && newPassword == newPasswordRepeat) {
	  		console.log("new passwords match, db and old match");
	  		console.log("all correct, click save");
	  		//$('.save_btn').click(); //tova se loop-va postoqnno!!!!!!
	  		$("form").submit();

	  		console.log("After click save");
	  	} else {
	  		if (dbPassword != oldPassword && newPassword == newPasswordRepeat) {
	  			console.log("Въведената сегашна парола не е вярна!");
	  		}
	  		if (dbPassword == oldPassword && newPassword != newPasswordRepeat) {
	  			console.log("В полетата за нова парола, тя не съвпада!");
	  		}
	  	}
	});
});
/*]]>*/
</script>
