  <h1 class="app_title logged-title">Търсачи на знания</h1>	    
	  <div class="jumbotron" style="background-color: rgba(220, 220, 220, 0.8); color:black; width:1000px;">
	 	<center>
	 		<div id="mixedSlider">
				<div class="MS-content">
					<div class="item" th:each="subject: ${subjects}">
						<div class="imgTitle">
							<h2 class="blogTitle" th:text="${subject.name}">Animals</h2>
							<!-- <img src="${'/img/subject-' + subject.id + '.png'}" alt="" /> -->
							<img th:attr="src=@{'/img/subjects/subject-' + ${subject.id} + '.png'},alt=''" />
							
						</div>
					</div>
				
				<div class="MS-controls">
					<button class="MS-left"><i class="fa fa-angle-left" aria-hidden="true"></i></button>
					<button class="MS-right"><i class="fa fa-angle-right" aria-hidden="true"></i></button>
				</div>
			</div>
			<br/><br/>
			<h2>Списък с уроци</h2>
	 		<br/>
	 		<h4 th:if="${#lists.isEmpty(subjects)}"><center>Няма уроци</center></h4>
		 	<table class="table" th:if="${not #lists.isEmpty(lessons)}">
			  <thead class="thead-light">
			    <tr>
			      <th scope="col">Урок</th>
				  <th scope="col">Тема</th>
				  <th scope="col">Предмет</th>
			      <th scope="col">Автор</th>
			    </tr>
			  </thead>
			  <tbody>
			    <tr th:each="lesson: ${lessons}">
				    <td scope="row" th:text="${lesson.title}" />
				    <td th:text="${lesson.topic.name}" />
				    <td th:text="${lesson.topic.subject.name}" />
				    <td th:text="${lesson.author.displayName}" />
				</tr>
			  </tbody>
			</table>
	 	</center>
	  </div>