<div class="jumbotron" style="background-color: rgba(220, 220, 220, 0.8); color:black; margin:0px; width:600px !important;">
	<div class="row justify-content-md-center">
	    <p th:if="${loginError}" class="error">Wrong user or password</p>
		<form class="col-12 align-self-center" th:action="@{/home}" method="post">
			<div style="padding:8px 16px; width:70%">
				<div class="form-group">
		        <input type="text" name="username" class="form-control" id="username" autofocus="autofocus" placeholder="Потребителско име">
				</div>
				<div class="form-group">
			        <input type="password" name="password" class="form-control" id="password" placeholder="Парола">
				</div>
			</div>
			<br/>
			<input type="submit" value="Влез" class="big_btn p-2">
			<h4>Все още нямаш акаунт?<br/><u><a href="/register" th:href="@{/register}" class="register_txt">Регистрирай се.</a></u></h4>
		</form>  
	</div>
</div>
<script th:inline="javascript">
/*<![CDATA[*/
$(document).ready(function() {

	$(".big_btn").click(function(e) {
	  	e.preventDefault();
	  	var password = $("#password").val();
	  	var username = $("#username").val();
	  	
	  	var hashedPassword = sha256(username + password);
	  	
	  	$("#password").val(hashedPassword);	  	
	  	$("form").submit();
	});
});
/*]]>*/
</script>