<h1 class="app_title logged-title">Търсачи на знания</h1>	    
<div class="jumbotron" style="background-color: rgba(220, 220, 220, 0.8); color:black; width:66%; height:80%; margin:0px;">
	<div class="row justify-content-md-center">
		<div class="col-12">
			<center><h2>Профил</h2></center>
			<br/>
		</div>
		<form class="col-lg-4 col-md-6 col-sm-12 align-self-center" th:action="@{/profile}" method="post">
			<div class="form-group">
	        	<input type="hidden" class="form-control" name="id" id="id" autofocus="autofocus" placeholder="ID" th:value="${person.id}" readonly>
	        </div>
			<div class="form-group">
	        	<input type="text" class="form-control" name="username" id="username" autofocus="autofocus" placeholder="Потребителско име" th:value="${person.user.username}" readonly>
	        </div>
	        <div class="form-group">
	        	<input type="text" class="form-control" name="displayName" id="displayName" placeholder="Екранно име" th:value="${person.displayName}">
	        </div>
			<div class="form-group">
				<input type="text" class="form-control" name="email" id="email" placeholder="Имейл" th:value="${person.email}">
			</div>
			<div class="form-group">
				<select class="form-control" name="school" id="schools" style="width:100%; height: 50px;">
					<option th:each="school : ${schools}" th:if="${school.id == person.school.id}" th:value="${person.school.id}" th:text="${person.school.name + ' - ' + school.city.name}">...</option>
					<option th:each="school : ${schools}" th:if="${school.id != person.school.id}" th:value="${school.id}" th:text="${school.name + ' - ' + school.city.name}"></option>
				</select>
			</div>
			
			<div class="form-group">
				<input type="hidden" class="form-control" name="password" id="password" placeholder="Парола" th:value="${person.user.password}">
			</div>
			
		    <br/>
		    <div class="row">
			  <div class="col-auto mr-auto">
			  	<a th:href="@{/home}">
			  	<input type="button" value="Отказ" class="btn close_btn" style="width:150px;">
			  	</a>
			  </div>
			  <div class="col-auto">
			  	<input type="submit" value="Запази" class="btn save_btn" style="width:150px;">
			  </div>			
			</div>
		</form>  
	</div>
</div>