<div class="jumbotron" style="background-color: rgba(220, 220, 220, 0.8); color:black; margin:0px; width:600px !important;">
	<div class="row justify-content-md-center">
	    <form class="col-12 align-self-center" th:action="@{/login}" method="post">
		    <div style="padding:8px 16px; width:70%">
				<div class="form-group">
		        	<!-- <label for="username">Потребителско име</label> -->
		        	<input type="text" class="form-control" name="username" id="username" autofocus="autofocus" placeholder="Потребителско име">
		        </div>
				<div class="form-group">
		        	<!-- <label for="username">Екранно име</label> -->
		        	<input type="text" class="form-control" name="displayName" id="displayName" placeholder="Екранно име">
				</div>
				<div class="form-group">
					<!-- <label for="username">Имейл</label> -->
					<input type="email" class="form-control" name="email" id="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" oninvalid="this.setCustomValidity('Невалиден имейл адрес!')" placeholder="Имейл">
				</div>
				<div class="form-group">
		        
		        <!-- <input type="text" class="form-control" id="username" autofocus="autofocus" placeholder="Училище">-->
					
	<!-- 				      <label for="schools">Училище</label> --> 
					<select class="form-control" name="school" id="schools" style="width:100%; height: 50px;">
	<!-- 
						<option value="" disabled selected>Училище</option>
						<option value="pmg">ПМГ-Хасково</option>
						<option value="pgds">ПГДС-Хасково</option>
						<option value="pgmet">ПГМЕТ-Хасково</option>
						<option value="tues">ТУЕС</option>
	-->
						<option th:each="school : ${schools}" th:value="${school.id}" th:text="${school.name + ' - ' + school.city.name}"></option>
						<!-- <td th:each="school: ${schools}" th:text="${school.name}" />-->
					</select>
				</div>
				<div class="form-group">
					<!-- <label for="password">Парола</label> -->
			        <input type="password" class="form-control" name="password" id="password" placeholder="Парола">
				</div>
				<div class="form-group">
			        <!-- <label for="password">Повтори парола</label> -->
			        <input type="password" class="form-control" id="repeat_password" placeholder="Повтори парола">
				</div>
				<br/>
				<div class="form-group" style="text-align:left; margin:0;">
				 	<!-- <input type="checkbox" th:field="*{features}" th:value="${feat}" />-->
				 	<input type="checkbox" name="isTeacher" style="width:20px; height:20px;"/>
				    <label style="font-size:20px;">Аз съм учител*</label>
				</div>
			</div>
		    <input type="submit" value="Регистрирай се" class="big_btn p-2">
		 	<h4>Имаш акаунт?<br/><u><a href="/login" th:href="@{/login}" class="register_txt">Влез.</a></u></h4>
		</form>
	</div>
	<br/>
	<div style="width:100%; text-align:left; margin-bottom:-60px;">*Моля, представете служебен имейл.</div>
</div>
