<div class="jumbotron"  style="background-color: rgba(220, 220, 220, 0.8); color:black; width:66%; height:80%; margin:0px;">
	<center>
		<h2>Списък с потребители</h2>
		<br/><br/>
		<h4 th:if="${#lists.isEmpty(users)}"><center>Няма потребители</center></h4>
 	<table class="table" th:if="${not #lists.isEmpty(users)}">
	  <thead class="thead-light">
	    <tr>
	      <th scope="col">#</th>
	      <th scope="col">Потребител</th>
	      <th scope="col">Роля</th>
	    </tr>
	  </thead>
	  <tbody>
	    <tr th:each="user: ${users}">
		    <td scope="row" th:text="${user.id}" />
		    <td th:text="${user.username}" />
		    <td th:text="${user.role.name}" />
		</tr>
	  </tbody>
	</table>
	</center>
</div>
