<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" 
    xmlns:th="http://www.thymeleaf.org" 
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	<head th:include="fragments/head" th:with="pageTitle='Knowledge Hunters'"></head>
	<body class="main-bg">
		<a href="/" th:href="@{/}" style="cursor:pointer;text-decoration: none;"><h1 class="app_title">Търсачи на знания</h1></a>	    
		<div class="jumbotron" style="background-color: transparent;">
			<center>
			<div class ="successMsg" th:if="${successMsg != null}" style="width: 60% !important; margin-top:-210px;"><i class="fas fa-check-circle" style="float:left;"></i><div th:text="${successMsg}" style="float:left; margin-left:10px;"></div></div>
			<div class ="errorMsg" th:if="${errorMsg != null}" style="width: 60% !important; margin-top:-210px;"><i class="fas fa-exclamation-circle" style="float:left;"></i><div th:text="${errorMsg}" style="float:left; margin-left:10px;"></div></div>
			<div style="color:white;" th:include="${view}"></div>
			</center>
		<footer th:include="fragments/footer"></footer>
		<span th:include="fragments/scripts-bundle"></span>
	</body>
</html>